<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
    <title>광운대학교 소프트웨어융합대학</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../css/main.css'>
    <script src='../../js/main.js'></script>
    
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;font-size: 18px;font-weight: bold;"href="../main.html"><img src="../../images/airplane.png" style="height: 40px;">&nbsp;하랑인사이트</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="start()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
            소프트웨어융합대학
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="../soyoung/soyoung1.html">광운대학교 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung2.html">단과대학 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung3.html">학부 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung4.html">단과대학 학생회</a>
            <a class="dropdown-item" href="../soyoung/soyoung5.html">학생총회 및 학생회비</a>
            <a class="dropdown-item" href="../soyoung/soyoung6.html">미리배움터 취소 안내</a>
            
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
              소프트웨어학부
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../soft/soft1.html">소프트웨어학부 소개</a>
              <a class="dropdown-item" href="../soft/soft2.html">학생회 소개</a>
              <a class="dropdown-item" href="../soft/soft3.html">소모임 소개</a>
              <a class="dropdown-item" href="../soft/soft4.html">수강신청</a>
              <a class="dropdown-item" href="../soft/soft5.html">학생회비</a>
              <a class="dropdown-item" href="../soft/soft6.html">문의사항</a>
            </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                컴퓨터정보공학부
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="../computer/computer1.html">컴퓨터정보공학부 소개</a>
                <a class="dropdown-item" href="../computer/computer2.html">학생회 소개</a>
                <a class="dropdown-item" href="../computer/computer3.html">소모임 소개</a>
                <a class="dropdown-item" href="../computer/computer4.html">수강신청</a>
                <a class="dropdown-item" href="../computer/computer5.html">학생회비</a>
                <a class="dropdown-item" href="../computer/computer6.html">공지 & 연락망</a>
              </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bolder;color: white;" >
                  정보융합학부
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="information1.html">정보융합학부 소개</a>
                  <a class="dropdown-item" href="information2.html">학생회 소개</a>
                  <a class="dropdown-item" href="information3.html">소모임 소개</a>
                  <a class="dropdown-item" href="information4.html">수강신청</a>
                  <a class="dropdown-item" href="information5.html">학생회비</a>
                  <a class="dropdown-item" href="information6.html">공지 & 문의</a>
                </div>
                </li>
      </ul>
    </div>
</nav>
    <div class="main" id="main">
      <div class="box">
          <div class="box_content">
            <p class="subject">
              3. 소모임 소개
            </p>
          </div>
          <div class="box_content">
              <div class="box1">
                <br>
                <p class="bold">
                  소모임이란 무엇인가요?
                </p>
                <br>
                <p style="text-align: center;">
                  <img class="kw" src="../../images/info_8.PNG"/>
                </p>
                <br>
                <br>
                <p class="normal_cen">
                  학교 단위 동아리가 아닌 학부 내 작은 동아리를 말합니다.
                  <br>
                  학부에 있는 소모임은 모두 중복가입이 가능합니다.               
                </p>
              </div>
          </div>
          <div class="box_content">
            <div class="box1">
              <br>
              <p class="bold">
                ICFC
              </p>        
              <br>
              <p class="normal_cen">
                <img src="../../images/info_9.png"class="kw"style="width: 80%;">
                <br>
              </p>
            </div>
          </div>
          <div class="box_content">
            <div class="box1">
              <br>
              <p class="bold">
                산소래
              </p>        
              <br>
              <p class="normal_cen">
                <img src="../../images/info_10.png"class="kw"style="width: 80%;">
                <br>
              </p>
            </div>
          </div>
          <div class="box_content">
            <div class="box1">
              <br>
              <p class="bold">
                코봉이
              </p>        
              <br>
              <p class="normal_cen">
                <img src="../../images/info_11.png"class="kw"style="width: 80%;">
                <br>
              </p>
            </div>
          </div>
          <div class="box_content">
            <div class="box1">
              <br>
              <p class="bold">
                IC BOWL
              </p>        
              <br>
              <p class="normal_cen">
                <img src="../../images/info_12.png"class="kw"style="width: 80%;">
                <br>
              </p>
            </div>
          </div>
              <div>
                <br>
              </div>
          </div>
      </div>
  </div>
  <footer class="page-footer font-small blue pt-4" style="background: #00A0E8!important;text-align:center;padding-top:10px!important;">
    <div class="row"style="text-align:center; background: #00A0E8!important;display:inline-block;width:100%;">
        <p class="bold" style="color: white;">
          <img src="../../images/airplane.png" style="height:100px;"><br>ALWAYS BY YOUR SIDE, HARANG
        </p>
        <p class="normal" style="color: white; text-align: center;">
        e-mail: kwswconc4@gmail.com
        <br>
      </p>
    </div>    
  </footer>
</body>
</html>