<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
    <title>광운대학교 소프트웨어융합대학</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../css/main.css'>
    <script src='../../js/main.js'></script>
    
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;font-size: 18px;font-weight: bold;"href="../main.html"><img src="../../images/airplane.png" style="height: 40px;">&nbsp;하랑인사이트</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="start()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
            소프트웨어융합대학
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="../soyoung/soyoung1.html">광운대학교 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung2.html">단과대학 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung3.html">학부 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung4.html">단과대학 학생회</a>
            <a class="dropdown-item" href="../soyoung/soyoung5.html">학생총회 및 학생회비</a>
            <a class="dropdown-item" href="../soyoung/soyoung6.html">미리배움터 취소 안내</a>
            
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
              소프트웨어학부
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../soft/soft1.html">소프트웨어학부 소개</a>
              <a class="dropdown-item" href="../soft/soft2.html">학생회 소개</a>
              <a class="dropdown-item" href="../soft/soft3.html">소모임 소개</a>
              <a class="dropdown-item" href="../soft/soft4.html">수강신청</a>
              <a class="dropdown-item" href="../soft/soft5.html">학생회비</a>
              <a class="dropdown-item" href="../soft/soft6.html">문의사항</a>
            </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                컴퓨터정보공학부
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="../computer/computer1.html">컴퓨터정보공학부 소개</a>
                <a class="dropdown-item" href="../computer/computer2.html">학생회 소개</a>
                <a class="dropdown-item" href="../computer/computer3.html">소모임 소개</a>
                <a class="dropdown-item" href="../computer/computer4.html">수강신청</a>
                <a class="dropdown-item" href="../computer/computer5.html">학생회비</a>
                <a class="dropdown-item" href="../computer/computer6.html">공지 & 연락망</a>
              </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bolder;color: white;" >
                  정보융합학부
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="information1.html">정보융합학부 소개</a>
                  <a class="dropdown-item" href="information2.html">학생회 소개</a>
                  <a class="dropdown-item" href="information3.html">소모임 소개</a>
                  <a class="dropdown-item" href="information4.html">수강신청</a>
                  <a class="dropdown-item" href="information5.html">학생회비</a>
                  <a class="dropdown-item" href="information6.html">공지 & 문의</a>
                </div>
                </li>
      </ul>
    </div>
</nav>
    <div class="main" id="main">
      <div class="box">
          <div class="box_content">
            <p class="subject">
              5. 학생회비
            </p>
          </div>
          <div class="box_content">
              <div class="box1">
                <br>
                <p class="bold">
                  학생회비란 무엇인가요?
                </p>
                <br>
                <p class="normal">
                  학생회비는 입학 후 여러분의 학부 활동 및 행사에 사용되는 금액입니다.<br>
                  특히 개강총회, MT, 간식행사, 체육대회 등의 다양한 학부 행사 및 학부 관리 등의 목적으로 사용됩니다.
                  <br>
                  따라서 학생회비는 원활한 학과 관리 및 행사 진행에 있어서 중요한 역할을 합니다.
                  <br>
                  <br>
                  부담스러운 금액일 수 있지만 학부 학생회비는 매년 납부하는 것이 아닌 신입학 시에 한 번만 납부하는 회비로,
                  총학생회 및 단과대학에 이용되는 등록금 고지서의 자율적 학생경비와는 별개로 학부에서 사용되는 회비입니다.
                  <br>
                  <br>
                  또한 학생회비 납부자에게는 MT 등의 행사참여비 할인, 간식행사 참여와 같은 혜택을 제공하고있습니다.
                  <br>
                  <br>
                  광운대학교의 학생회장은 학생회비 이용 내역을 공개할 의무가 있으며,
                  모든 학우는 학생회비 내역 공개를 요청할 권리를 갖습니다.
                  <br>
                  또한 학생회는 학생회비 납부 영수증을 발급 및 보관하도록 되어있습니다.
                  <br>
                  <br>
                  여러분이 납부하여 주신 소중한 학생회비를 반드시 투명하고 정직하게 사용할 것을 약속합니다!
                  <br>
                  <br>
                </p>
                <p class="normal_cen">
                  <img class="kw" src="../../images/info_23.PNG"/>
                </p>
                <br>
              </div>
          </div>
          <div class="box_content">
            <div class="box1">
              <br>
              <p class="bold">
                학생회비 납부방법
              </p>       
              <br>
              <p class="normal">
                금액 : 100,000원
                <br>
                    <br>
                    납부 기한 : 개강연기로 인한추후공지
                    <br>
                    <br>
                    예상 기한 : 2020년 4월 3일 (금) (개강 확정일의 3주차 금요일까지)
                    <br>
                    <br>
                    납부 계좌 :3333123714848카카오뱅크이윤희(정보융합학부)
                    <br>
                    <br>
                    사용 목적 및 용도 : MT, 간식행사 개강총회 종강총회 등 과 행사 진행 및 관리
                    <br>
                    <br>
                    학생회비 관련 문의는 아래 연락처로 문자 메시지 (혹은 카카오톡) 주시면 성심껏 답변하겠습니다.
                    <br>
                    <br>
                    제3대 정보융합학부 학생회장 김정년 (010-4716-3450),
                    <br>
                    부학생회장 이윤희 (010-5718-3375) 
                    <br>
                    <br>
                    여러분이 납부하여 주신 소중한 학생회비를 청렴하게 사용하여 더 나은 대학 생활을 하는 데에 앞장서는 학생회가 되겠습니다. 
                    <br>
                    <br>
                    더불어 광운대학교 정보융합학부 학생이 되신 신입생 학우분들의 입학을 다시 한번 축하드립니다.
              </p>
            </div>
          </div>
              <div>
                <br>
              </div>
          </div>
      </div>
  </div>
  <footer class="page-footer font-small blue pt-4" style="background: #00A0E8!important;text-align:center;padding-top:10px!important;">
    <div class="row"style="text-align:center; background: #00A0E8!important;display:inline-block;width:100%;">
        <p class="bold" style="color: white;">
          <img src="../../images/airplane.png" style="height:100px;"><br>ALWAYS BY YOUR SIDE, HARANG
        </p>
        <p class="normal" style="color: white; text-align: center;">
        e-mail: kwswconc4@gmail.com
        <br>
      </p>
    </div>    
  </footer>
</body>
</html>