<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
    <title>광운대학교 소프트웨어융합대학</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../css/main.css'>
    <script src='../../js/main.js'></script>
    
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;font-size: 18px;font-weight: bold;"href="../main.html"><img src="../../images/airplane.png" style="height: 40px;">&nbsp;하랑인사이트</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="start()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            소프트웨어융합대학
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="../soyoung/soyoung1.html">광운대학교 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung2.html">단과대학 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung3.html">학부 소개</a>
            <a class="dropdown-item" href="../soyoung/soyoung4.html">단과대학 학생회</a>
            <a class="dropdown-item" href="../soyoung/soyoung5.html">학생총회 및 학생회비</a>
            <a class="dropdown-item" href="../soyoung/soyoung6.html">미리배움터 취소 안내</a>
            
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
              소프트웨어학부
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../soft/soft1.html">소프트웨어학부 소개</a>
              <a class="dropdown-item" href="../soft/soft2.html">학생회 소개</a>
              <a class="dropdown-item" href="../soft/soft3.html">소모임 소개</a>
              <a class="dropdown-item" href="../soft/soft4.html">수강신청</a>
              <a class="dropdown-item" href="../soft/soft5.html">학생회비</a>
              <a class="dropdown-item" href="../soft/soft6.html">문의사항</a>
            </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bolder;color: white;" >
                컴퓨터정보공학부
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="computer1.html">컴퓨터정보공학부 소개</a>
                <a class="dropdown-item" href="computer2.html">학생회 소개</a>
                <a class="dropdown-item" href="computer3.html">소모임 소개</a>
                <a class="dropdown-item" href="computer4.html">수강신청</a>
                <a class="dropdown-item" href="computer5.html">학생회비</a>
                <a class="dropdown-item" href="computer6.html">공지 & 연락망</a>
              </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                  정보융합학부
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../information/information1.html">정보융합학부 소개</a>
                  <a class="dropdown-item" href="../information/information2.html">학생회 소개</a>
                  <a class="dropdown-item" href="../information/information3.html">소모임 소개</a>
                  <a class="dropdown-item" href="../information/information4.html">수강신청</a>
                  <a class="dropdown-item" href="../information/information5.html">학생회비</a>
                  <a class="dropdown-item" href="../information/information6.html">공지 & 문의</a>
                </div>
                </li>
      </ul>
    </div>
</nav>
    <div class="main" id="main">
        <div class="box">
            <div class="box_content">
              <p class="subject">
                4. 수강신청
              </p>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    강의 교과/이수 구분 소개
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_1.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
              <div class="box1">
                <br>
                <p class="bold">
                  일반 프로그램과 공학 프로그램
                </p>
                <p class="normal_cen">
                  <img src="../../images/m-k.PNG" class="kw">
                </p>
              </div>
          </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    일반 프로그램 : 교양 과목 이수 학점
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_2.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    일반 프로그램 : 교양 필수 과목
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_3.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    일반 프로그램 : 졸업 이수 학점
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_4.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    일반 프로그램 : 기초 교양 과목 소개
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_5_1.png" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    공학 프로그램 : 선·후수 필수 지정 교과목
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/m-k-1.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
              <div class="box1">
                <br>
                <p class="bold">
                  공학 프로그램 : 졸업 이수 요건
                </p>
                <p class="normal_cen">
                  <img src="../../images/m-k-2.PNG" class="kw">
                </p>
              </div>
          </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    분반 제도 및 학정번호 구성
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_7.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    강의 시간 안내
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_8.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    시간표의 안 좋은 예시
                  </p>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/ap_9.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    수강신청 학점 범위 및 추가 신청 제도
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_10.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    수강신청 프로그램 설치
                  </p>
                  <br>
                  <p class="normal_cen">
                    1. 광운대학교 KLAS웹페이지에 접속합니다.
                    <br>
                    사이트 주소:<a href="https://klas.kw.ac.kr/" target="_blank">https://klas.kw.ac.kr/</a>
                    <p class="normal_cen">
                      <img src="../../images/ins1.png" class="kw">
                    </p>
                    <br>
                    <p class="normal_cen">
                      2. 대학생활-수강관리-수강신청 프로그램을 클릭합니다.
                      <br>
                      <br>
                      <img src="../../images/ins2.PNG" class="kw">
                    </p>
                    <br>
                    <p class="normal_cen">
                      3. 수강신청 프로그램 오른쪽에 있는 다운로드 버튼을 클릭합니다.
                      <br>
                      <br>
                      <img src="../../images/ins3.PNG" class="kw">
                    </p>
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    수강신청 프로그램 사용법
                  </p>
                  <p class="normal_cen">
                  <img src="../../images/rap_1.PNG" class="kwra_1">
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/rap_2.PNG" class="kwra_1">
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/rap_3.PNG" class="kwra_1">
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/rap_4.PNG" class="kwra_1">
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/rap_5.PNG" class="kwra_1">
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/rap_6.PNG" class="kwra_1">
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/rap_7.PNG" class="kwra_1">
                  </p>         
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    수강신청 기간 및 주의사항
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/ap_11.PNG" class="kw">
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    수강신청 팁
                  </p>
                  <p class="normal_cen">
                    <img src="../../images/m-k-3.PNG" class="kw">
                  </p>
                </div>
            </div>
                <div>
                  <br>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" style="background: #00A0E8!important;text-align:center;padding-top:10px!important;">
      <div class="row"style="text-align:center; background: #00A0E8!important;display:inline-block;width:100%;">
          <p class="bold" style="color: white;">
            <img src="../../images/airplane.png" style="height:100px;"><br>ALWAYS BY YOUR SIDE, HARANG
          </p>
          <p class="normal" style="color: white; text-align: center;">
          e-mail: kwswconc4@gmail.com
          <br>
        </p>
      </div>    
    </footer>
</body>
</html>