<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
    <title>광운대학교 소프트웨어융합대학</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../css/main.css'>
    <script src='../../js/main.js'></script>
    
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;font-size: 18px;font-weight: bold;"href="../main.html"><img src="../../images/airplane.png" style="height: 40px;">&nbsp;하랑인사이트</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="start()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bolder;color: white;" >
            소프트웨어융합대학
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="soyoung1.html">광운대학교 소개</a>
            <a class="dropdown-item" href="soyoung2.html">단과대학 소개</a>
            <a class="dropdown-item" href="soyoung3.html">학부 소개</a>
            <a class="dropdown-item" href="soyoung4.html">단과대학 학생회</a>
            <a class="dropdown-item" href="soyoung5.html">학생총회 및 학생회비</a>
            <a class="dropdown-item" href="soyoung6.html">미리배움터 취소 안내</a>
            
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
              소프트웨어학부
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../soft/soft1.html">소프트웨어학부 소개</a>
              <a class="dropdown-item" href="../soft/soft2.html">학생회 소개</a>
              <a class="dropdown-item" href="../soft/soft3.html">소모임 소개</a>
              <a class="dropdown-item" href="../soft/soft4.html">수강신청</a>
              <a class="dropdown-item" href="../soft/soft5.html">학생회비</a>
              <a class="dropdown-item" href="../soft/soft6.html">문의사항</a>
            </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                컴퓨터정보공학부
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="../computer/computer1.html">컴퓨터정보공학부 소개</a>
                <a class="dropdown-item" href="../computer/computer2.html">학생회 소개</a>
                <a class="dropdown-item" href="../computer/computer3.html">소모임 소개</a>
                <a class="dropdown-item" href="../computer/computer4.html">수강신청</a>
                <a class="dropdown-item" href="../computer/computer5.html">학생회비</a>
                <a class="dropdown-item" href="../computer/computer6.html">공지 & 연락망</a>
              </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                  정보융합학부
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../information/information1.html">정보융합학부 소개</a>
                  <a class="dropdown-item" href="../information/information2.html">학생회 소개</a>
                  <a class="dropdown-item" href="../information/information3.html">소모임 소개</a>
                  <a class="dropdown-item" href="../information/information4.html">수강신청</a>
                  <a class="dropdown-item" href="../information/information5.html">학생회비</a>
                  <a class="dropdown-item" href="../information/information6.html">공지 & 문의</a>
                </div>
                </li>
      </ul>
    </div>
</nav>
    <div class="main" id="main">
        <div class="box">
            <div class="box_content">
              <p class="subject">
                5. 학생총회 및 학생회비
              </p>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    학생총회란?
                  </p>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/11_kw.PNG" class="kw">
                  </p>
                  <br>
                  <p class="normal">
                    학생총회는 광운대학교 모든 학생의 참석으로 모든 학생들이 의결권을 가지는 모든 학생을 위한 광운대학교 학생자치의 최고 의사결정 기구입니다.
                    <br>
                    <br>
                    성립요건은 모든 재학생의 10%이상이 참석해야 성립됩니다.
                    <br>
                    <br>
                    1년에 단 1번만 개최될 수 있는 자리로 학교에 직접 목소리를 낼 수 있는 가장 중요한 행사라고도 볼 수 있습니다.
                  </p>
                  <p class="normal">
                    아직 일정이 잡히지 않은 관계로 추후에 날짜가 정해지면 공지해드릴 예정입니다!
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    자율적 학생경비와 학부 학생회비는 무엇인가요?
                  </p>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/12_kw.PNG" class="kw">
                  </p>
                  <br>
                  <p class="high">
                    자율적 학생경비
                  </p>
                  <p class="normal">
                    자율적 학생경비는 매 학기 등록금 고지서에 징수되는 학생회비를 의미합니다.
                    <br>
                    총학생회, 총동아리연합회, 각 단과대 학생회가 매 학기 지분회의를 통해 이를 배분하여 학생 복지를 위한 행사에 사용됩니다.
                  </p>
                  <br>
                  <p class="high">
                    학부 학생회비
                  </p>
                  <p class="normal">
                    학부 학생회비는 입학할 때 한 번 학부 학생회에 납부하는 회비를 의미합니다.
                    <br>
                    학부 학생회 주관의 공식 행사 진행 및 학생 복지를 위해 사용됩니다.
                  </p>
                  <br>
                  <p class="high">
                    FAQ
                  </p>
                  <p class="normal" style="color: #00A0E8;">
                    Q: 학부 학생회비를 꼭 납부해야 하나요?
                  </p>
                  <p class="normal">
                    A: 학부 학생회비의 납부는 필수가 아닌 선택입니다.
                    <br>
                    하지만, 학부 학생회비는 여러분이 학교 생활을 하면서 즐기는 대부분의 다양한 행사가 학부 학생회비를 기반으로 이루어진다는 것을 기억해주세요!
                  </p>
                  <p class="normal"style="color: #00A0E8;">
                    Q: 납부한 학생회비는 어떻게 관리되나요?
                  </p>
                  <p class="normal">
                    A: 납부된 학생회비는 매 학기 소프트웨어융합대학 학생 대표자 회의에서 결산 공개를 진행해 투명하게 관리하고 있습니다.
                    <br>
                    또, 학생회비 납부자 명단을 학생회에서 관리하여 학생회비를 납부한 것으로 얻은 학우 여러분들의 권리를 지켜가고 있습니다.
                  </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" style="background: #00A0E8!important;text-align:center;padding-top:10px!important;">
      <div class="row"style="text-align:center; background: #00A0E8!important;display:inline-block;width:100%;">
          <p class="bold" style="color: white;">
            <img src="../../images/airplane.png" style="height:100px;"><br>ALWAYS BY YOUR SIDE, HARANG
          </p>
          <p class="normal" style="color: white; text-align: center;">
          연락처: 010-9220-2303<br>
          이메일: kwswconc4@gmail.com
          <br>
        </p>
      </div>    
    </footer>
</body>
</html>