<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
    <title>광운대학교 소프트웨어융합대학</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../css/main.css'>
    <script src='../../js/main.js'></script>
    
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color: white;font-size: 18px;font-weight: bold;"href="../main.html"><img src="../../images/airplane.png" style="height: 40px;">&nbsp;하랑인사이트</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="start()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bolder;color: white;" >
                소프트웨어융합대학
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="soyoung1.html">광운대학교 소개</a>
                <a class="dropdown-item" href="soyoung2.html">단과대학 소개</a>
                <a class="dropdown-item" href="soyoung3.html">학부 소개</a>
                <a class="dropdown-item" href="soyoung4.html">단과대학 학생회</a>
                <a class="dropdown-item" href="soyoung5.html">학생총회 및 학생회비</a>
                <a class="dropdown-item" href="soyoung6.html">미리배움터 취소 안내</a>
                
              </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                  소프트웨어학부
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../soft/soft1.html">소프트웨어학부 소개</a>
                  <a class="dropdown-item" href="../soft/soft2.html">학생회 소개</a>
                  <a class="dropdown-item" href="../soft/soft3.html">소모임 소개</a>
                  <a class="dropdown-item" href="../soft/soft4.html">수강신청</a>
                  <a class="dropdown-item" href="../soft/soft5.html">학생회비</a>
                  <a class="dropdown-item" href="../soft/soft6.html">문의사항</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                    컴퓨터정보공학부
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="../computer/computer1.html">컴퓨터정보공학부 소개</a>
                    <a class="dropdown-item" href="../computer/computer2.html">학생회 소개</a>
                    <a class="dropdown-item" href="../computer/computer3.html">소모임 소개</a>
                    <a class="dropdown-item" href="../computer/computer4.html">수강신청</a>
                    <a class="dropdown-item" href="../computer/computer5.html">학생회비</a>
                    <a class="dropdown-item" href="../computer/computer6.html">공지 & 연락망</a>
                  </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                      정보융합학부
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="../information/information1.html">정보융합학부 소개</a>
                      <a class="dropdown-item" href="../information/information2.html">학생회 소개</a>
                      <a class="dropdown-item" href="../information/information3.html">소모임 소개</a>
                      <a class="dropdown-item" href="../information/information4.html">수강신청</a>
                      <a class="dropdown-item" href="../information/information5.html">학생회비</a>
                      <a class="dropdown-item" href="../information/information6.html">공지 & 문의</a>
                    </div>
                    </li>
          </ul>
        </div>
    </nav>
    <div class="main" id="main">
        <div class="box">
            <div class="box_content">
              <p class="subject">
                1. 광운대학교 소개
              </p>
            </div>
            <div class="box_content">
              <div class="box1">
                <br>
                <p class="bold">소프트웨어융합대학 신입생 환영사</p>
                <br>
                <p class="normal">
                  2020년도 소프트웨어융합대학 신입생 여러분, 광운대학교 입학을 축하합니다.<br> 그리고 소프트웨어융합대학의 일원이 된 것을 환영합니다.<br>
                  올해는 신종 코로나바이러스의 전파예방 차원에서 입학식 행사가 취소되어 새내기 여러분을직접 마주하여 환영해 주지 못하고 이렇게 글로써 여러분을 맞이하게 됨을 안타깝게 생각합니다.<br>
                  3월에 있을 개강 때 지금보다 더욱 활기찬 모습으로 맞이할 수 있기를 기대해 봅니다. 
                </p>
                <p class="normal">
                  2020년, 새로운 10년을 시작하는 해이고, 4차 산업혁명의 태동기라 일컬을 수 있는 시점에 우리는 와 있습니다.<br>
                  여러분은 바로 그 4차 산업혁명의 중심에 있는 소프트웨어 분야의 전문가로 성장하기 위하여 소프트웨어융합대학의 전공학부를 선택하였을 것입니다.
                </p>
                <p class="normal">
                  장래를 위한 탁월한 선택을 하셨다고 생각합니다.<br>
                  여러분들의 목표가 졸업 후 취업이든, 창업이든, 또는 대학원 진학이든, 아니면 아직 더 탐색해 보고 결정하기로 하였든, 소프트웨어융합대학에서의 여러 전공들은 여러 학문 분야 중에서도 가장 첨단에서 4차 산업혁명 시대의 주인공이 될 준비를 하는 기회를 제공할 것입니다. 
                </p>
                <p class="normal">
                  우리 소프트웨어융합대학에는 현재 컴퓨터정보공학부, 소프트웨어학부, 정보융합학부 3개의 전공학부 이외에도 소프트웨어를 기반으로 한 타전공과의 연계전공이 많이 개설되어 있습니다.<br>
                  전공학부에서 습득한 소프트웨어 관련 지식과 개발 능력을 바탕으로 관심있는 타 전공 분야의 지식도 접목하여 창의적이고 융합적인 인재로 성장해 나가고자 하는 것도 좋은 목표가 될 것으로 생각됩니다.<br>
                   적극적으로 관심가지고 탐색해 보기 바랍니다. 
                </p>
                <p class="normal">
                  특히 우리 대학은 국가에서 지원하는 소프트웨어중심대학 사업을 수행하고 있어 산업체 현장에서 실력을 발휘할 수있는 경쟁력 있는 소프트웨어 인재를 양성하는데 역량을 집중하고 있습니다.<br>
                  이를 위해 산업체가 필요로 하는 전공 역량이 어떤 것인지를 파악할 수 있도록 산업체와의 연계를 통한 산학연계 SW 프로젝트 등을 재학 기간 동안 학우들과함께 팀으로서 수행해 보기를 적극 권장합니다
                </p>
                <p class="normal">
                  앞으로 대학생으로서 소프트웨어융합대학이 제공하는 많은 것들을 경험해 보고, 즐거운 마음으로 공부하고 연구해 보며 대학생활을 하시게 되기 바랍니다.<br>
                  그 과정에서 도움이 필요한 일이 있다면 언제든지 교수님들이나 선배, 학우들에게 말하기 바랍니다.<br>
                  특히 여기 소프트웨어융합대학의 교수님들께서는 항상 우리 학생들의 목소리에 귀 기울이고 계시고, 언제든지 필요로 할 때 같이 고민하고 또 이끌어줄 준비가 되신 분들이니 앞으로 자주 보게 될 수 있기 바랍니다.
                </p>
                <p class="normal">
                  나중에 우리 대학을 졸업할 때 내가 이 대학을, 이 전공을 택하기를 정말 잘했구나 라는 생각이 들 수 있도록 후회 없게열정을 가지고 우리 같이 대학생활 한번 열심히 해 봅시다.<br>
                  다시 한번 입학을 축하하며 환영합니다. 감사합니다.
                </p>
                <br>
                <p class="bold" style="text-align: right;">
                  소프트웨어융합대학장 박병준&nbsp;&nbsp;&nbsp;&nbsp;<img class="prof"src="../../images/photo.jpg"/>
                </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    광운대학교는 어떤 학교인가요?
                  </p >
                  <p class="normal_cen">
                    <img src="../../images/0_kw.PNG" class="kw">
                  </p>
                  <p class="normal">
                    1962년, 동국전자공과초급대학으로 출범되어, 1964년 광운전자공과대학, 1976년 광운공과대학, 그리고 1983년 종합대학으로서의 초석을 마련하기 위해 광운대학으로 교명을 변경하며 현재 교장의 모습이 되었다. 공대 단과대학 이미지에서 다양한 학문을 개척해 나가는 광운의 이미지를 구축하고, 교명 역시 ‘광운공과대학’에서 ‘광운대학’으로 변경하며 교장의 디자인도 변경되었다.
                    <br>
                    <br>
                    광운학원의 창학정신은 자립정신의 자세를 확립함에 있다.
                    <br>
                    <br>
                    자립정신의 자세는 부지런하고, 아끼어 쓰며, 찾아서 하려는 실천궁행의 생활화로 자주자립을 성취하려고 노력하는 것이며, 인간의 보람과 가치를 이러한 생활 속에서 추구하려는 인격의 도야를 말하며이를 통하여 영원히 인류를 밝히는 등대와 같은 인물을 양성하는 것이다.                    
                    <br>
                    <br>
                    교육 이념 : 참[Veritas] 사람 – 교양과 인성을 갖추며 전공지식을 깊게 탐구하며 글로벌 소양을 계발한 사람
                    + 빛[Lux] 사람 –융합적으로 소통하며 혁신적 창의성을 발휘하고 지속가능 미래에 기여하는 사람
                    <br>
                    <br>
                    교육 목적 : 폭넓은 시야와 종합적인 판단력을 갖춘 창의적이고 실천적이며 세계적인 지성인 양성
                    <br>
                    <br>
                    교육 목표 : 넓게 배우고 깊게 탐구하며 세상과 소통하는 참빛인재
                    <br>
                    <br>
                    인재상 : 미래를 열어가는 참빛 인재
                    <br>
                    <br>
                    핵심역량 : [V]참사랑역량 – 융합적사고, 사회관계 역량, 전문지식, 글로벌역량
                    [L]빛사람역량 – 미래가치지향, 도전정신, 공존-공감의식
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    소프트웨어융합대학은 어떻게 신설 되었나요?
                  </p>
                  <p class="normal">
                    <p style="text-align: center;"><img class="kw" src="../../images/kw.PNG"/></p>
                  </p>
                  <p class="normal">
                    광운대학교와 과학기술정보통신부, 정보통신기획평가원이 협력해 국내 최대 규모의 소프트웨어융합대학,광운대학교에서 2번째로 규모가 큰 단과대학이 되었습니다.
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    소프트웨어융합대학은 어떤 장점이 있나요?
                  </p>
                  <br>
                  <p class="high" style="text-align: center;">
                    1. 체계화된 커리큘럼
                    <p style="text-align: center;">
                      <img class="kw" src="../../images/ad1.png"/>
                    </p>
                    <br>
                  </p>
                  <p class="normal">
                    광운대학교 소프트웨어융합대학은 입학 전부터 신입생을 대상으로 진행되는 
                    <br>
                    SW 예비학교(과목 : 컴퓨팅사고)
                    <br>
                    1학년 1학기 : C프로그래밍, 기업가정과서비스혁신, SW융합입문세미나
                    <br>
                    하계방학 : SW여름학교 진행( C프로그래밍 보충 교육 )
                    <br>
                    1학년 2학기 : 고급C프로그래밍및설계, 컴퓨팅사고
                    <br>
                    동계방학 : SW 겨울학교 ( 코딩 역량 집중교육 )
                    <br>
                    2학년 1학기 : 전공기초, 객체지향프로그래밍, 오픈소스 소프트웨어
                    <br>
                    하계방학 : 하계 특강(오픈소스소프트웨어, IOS앱프로토타이핑)
                    <br>
                    2학년 2학기 : 전공기초, 자료구조, 모바일프로그래밍, 소프트웨어프로젝트
                    <br>
                    동계방학 : 동계특강(iOS Swift), 해외연수
                    <br>
                    3학년 1학기 : 전공심화
                    <br>
                    하계방학 : 하계특강, 해외연수
                    <br>
                    3학년 2학기 : 전공심화, 소프트웨어프로젝트2, 산학협력프로젝트 시작
                    <br>
                    동계방학 : 동계특강(스타트업 특강), 단기인턴쉽(국내외)
                    <br>
                    4학년 1학기 : 전공심화, 산학협력 캡스톤설계1, 산학협력프로젝트 발표
                    <br>
                    하계방학 : 하계인턴쉽(국내외), 학/석사 연계과정
                    <br>
                    4학년 2학기 : TOPCIT 평가 실시, 산학협력캡스톤설계2, 컴퓨터기술영어, 장기인턴쉽
                    <br>
                    으로 체계화된 커리큘럼을 통해 인재를 양성하고 있습니다.
                  </p>
                  <br>
                  <p class="high" style="text-align: center;">
                    2. SW중심대학만이 받을 수 있는 다양한 혜택
                    <br>
                    <p style="text-align: center;">
                      <img class="kw" src="../../images/ad2.png"/>
                    </p>
                  </p>
                  <br>
                  <p class="normal" >
                    소프트웨어융합대학에서만 받을 수 있는 다양한 혜택이 존재합니다.
                    SW예비학교부터 SW역량마일리지를 통한 장학금 제도 등 다양한 제도가 운영 및 시행되고 있습니다.
                  </p>
                </div>
            </div>
                <br>             
                <div>
                  <br>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" style="background: #00A0E8!important;text-align:center;padding-top:10px!important;">
      <div class="row"style="text-align:center; background: #00A0E8!important;display:inline-block;width:100%;">
          <p class="bold" style="color: white;">
            <img src="../../images/airplane.png" style="height:100px;"><br>ALWAYS BY YOUR SIDE, HARANG
          </p>
          <p class="normal" style="color: white; text-align: center;">
          e-mail: kwswconc4@gmail.com
          <br>
        </p>
      </div>    
    </footer>
</body>
</html>