<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"/>
    <title>광운대학교 소프트웨어융합대학</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../css/main.css'>
    <script src='../../js/main.js'></script>
    
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;font-size: 18px;font-weight: bold;"href="../main.html"><img src="../../images/airplane.png" style="height: 40px;">&nbsp;하랑인사이트</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="start()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bolder;color: white;" >
            소프트웨어융합대학
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="soyoung1.html">광운대학교 소개</a>
            <a class="dropdown-item" href="soyoung2.html">단과대학 소개</a>
            <a class="dropdown-item" href="soyoung3.html">학부 소개</a>
            <a class="dropdown-item" href="soyoung4.html">단과대학 학생회</a>
            <a class="dropdown-item" href="soyoung5.html">학생총회 및 학생회비</a>
            <a class="dropdown-item" href="soyoung6.html">미리배움터 취소 안내</a>
            
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
              소프트웨어학부
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="../soft/soft1.html">소프트웨어학부 소개</a>
              <a class="dropdown-item" href="../soft/soft2.html">학생회 소개</a>
              <a class="dropdown-item" href="../soft/soft3.html">소모임 소개</a>
              <a class="dropdown-item" href="../soft/soft4.html">수강신청</a>
              <a class="dropdown-item" href="../soft/soft5.html">학생회비</a>
              <a class="dropdown-item" href="../soft/soft6.html">문의사항</a>
            </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                컴퓨터정보공학부
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="../computer/computer1.html">컴퓨터정보공학부 소개</a>
                <a class="dropdown-item" href="../computer/computer2.html">학생회 소개</a>
                <a class="dropdown-item" href="../computer/computer3.html">소모임 소개</a>
                <a class="dropdown-item" href="../computer/computer4.html">수강신청</a>
                <a class="dropdown-item" href="../computer/computer5.html">학생회비</a>
                <a class="dropdown-item" href="../computer/computer6.html">공지 & 연락망</a>
              </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                  정보융합학부
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="../information/information1.html">정보융합학부 소개</a>
                  <a class="dropdown-item" href="../information/information2.html">학생회 소개</a>
                  <a class="dropdown-item" href="../information/information3.html">소모임 소개</a>
                  <a class="dropdown-item" href="../information/information4.html">수강신청</a>
                  <a class="dropdown-item" href="../information/information5.html">학생회비</a>
                  <a class="dropdown-item" href="../information/information6.html">공지 & 문의</a>
                </div>
                </li>
      </ul>
    </div>
</nav>
    <div class="main" id="main">
        <div class="box">
            <div class="box_content">
              <p class="subject">
                4. 단과대학 학생회
              </p>
            </div>
            <div class="box_content">
              <div class="box1">
                <br>
                <p class="bold">
                  학생회 소개영상
                </p>
                <br>
                <p class="normal_cen">
                  <iframe class="video" src="https://www.youtube.com/embed/EsgToywQxDs?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
                <br>
              </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <p class="bold">
                    소프트웨어융합대학 학생회와 어떻게 소통할 수 있나요?
                  </p>
                  <p class="normal_cen">
                    <img class="kw" src="../../images/6_kw.PNG">
                  </p>
                  <p class="normal">
                    소프트웨어융합대학 학생회에게 질문이 있다면 언제든지
                    페이스북 페이지 광운대학교 SW융합대학 또는 카카오톡 플러스친구 광운대학교 SW융합대학 학생회 하랑을 찾아주세요!
                    사소한 궁금증도 성심성의껏 답변해 드리겠습니다.
                  </p>
                </div>
            </div>
            <div class="box_content">
                <div class="box1">
                  <br>
                  <br>
                  <p class="bold"style="background: #00A0E8;color: white;border-radius: 15px;" >
                    하랑이란?
                  </p>
                  <br>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/7_kw.PNG" class="kw">
                  </p>
                  <p class="normal">
                    '하랑'은 순우리말로 ‘함께 높이 날다’라는 의미를 가지고 있습니다.
                    <br>
                    <br>
                    소프트웨어융합대학을 학우 여러분과 함께 높이 날 수 있는 한 해를 만들고자 한 저희의 목표와 일치했기에, ‘하랑’의 의미를 마음속에 되새길 수 있도록 선정했습니다. 
                    <br>
                    <br>
                    '더 높이 더 멀리!'라는 슬로건에 걸맞게 소프트웨어융합대학과 학우 여러분을 '함께 더 높이, 더 멀리' 날아갈 수 있도록 봉사하는 학생회가 되겠습니다.
                  </p>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/8_kw.PNG" class="kw">
                  </p>
                  <br>
                  <br>
                  <p class="normal">
                    ‘하랑’의 의미에 맞춰 홍보국에서 제작한 제4대 소프트웨어융합대학 학생회 심볼 마크 및 로고입니다.
                    <br>
                    <br>
                    로고의 컬러는 신뢰를 상징하는 푸른 하늘을 떠오르게 하는 블루 계열의 컬러와 
                    순수함, 꿈과 희망을 나타내는 화이트 컬러를 사용하여 하랑의 의미를 더했습니다.
                  </p>
                  <br>
                  <br>
                  <p class="bold" style="background: #00A0E8;color: white;border-radius: 15px;">
                    학생회 심볼 소개
                  </p>
                  <br>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/9_kw.png" class="kw">
                  </p>
                  <br>
                  <br>
                  <p class="normal">
                    함께, 높이, 날다'의 의미를 가진 하랑을 나타내는 로고 종이비행기는 꿈과 희망을 상징하며 더 높이, 더 멀리 날아가겠다는 포부를 의미합니다.
                    <br>
                    <br>
                    또한, 소프트웨어 융합대학을 이루는 세 학부 각각의 앞 스펠링인 소프트웨어의 S, 컴퓨터정보공학의 C, 정보융합학부의 I와 하랑의 의미를 합쳐 이를 형상화 하였습니다.
                  </p>
                  <br>
                  <br>
                  <br>
                  <p class="bold" style="background: #00A0E8;color: white;border-radius: 15px;">
                    학생회 조직도
                  </p>
                  <br>
                  <br>
                  <br>
                  <p class="normal_cen">
                    <img src="../../images/10_kw.png" class="kw">
                  </p>
                  <br>
                  <br>
                  <br>
                  <p class="normal">
                    제4대 소프트웨어융합대학 하랑은 중앙국, 사무국, 홍보국, 운영국, 기획국으로 이루어져 있습니다.
                    <br>
                    <br>   
                    사무국 : 소프트웨어융합대학 행사에서 사용되는 비용에 대한 예/결산 수립 및 물품 관리
                    <br>
                    <br>   
                    홍보국 : 소프트웨어융합대학의 정보 및 사업등과 관련한 컨텐츠 기획 및 홍보물 제작 
                    <br>
                    <br>   
                    운영국 : 소프트웨어융합대학의 운영에 필요한 기획, 내부 자료 관리
                    <br>
                    <br> 
                    기획국 : 소프트웨어융합대학의 각종 행사 총괄 및 기획
                  </p>
                </div>
            </div>
                <div>
                  <br>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small blue pt-4" style="background: #00A0E8!important;text-align:center;padding-top:10px!important;">
      <div class="row"style="text-align:center; background: #00A0E8!important;display:inline-block;width:100%;">
          <p class="bold" style="color: white;">
            <img src="../../images/airplane.png" style="height:100px;"><br>ALWAYS BY YOUR SIDE, HARANG
          </p>
          <p class="normal" style="color: white; text-align: center;">
          e-mail: kwswconc4@gmail.com
          <br>
        </p>
      </div>    
    </footer>
</body>
</html>